Repository angelmtenor/DL-potential-dishes: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, jupyter-nb-clear-output

.pre-commit-config.yaml:

# Pre-commit configuration. 
# Manual check: 'pre-commit run --all-files'
# Angel Martinez Tenor - July 2022

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: trailing-whitespace
    - id: mixed-line-ending
    - id: end-of-file-fixer
    - id: requirements-txt-fixer
    - id: check-yaml
    - id: check-json
    - id: pretty-format-json
      args: ['--autofix']
    - id: check-merge-conflict
    - id: check-case-conflict
    - id: check-docstring-first
    # - id: check-added-large-files
    #   args: ['--maxkb=2000']

# -   repo: https://github.com/psf/black
#     rev: 22.6.0
#     hooks:
#     -   id: black
#         args: ['--line-length=120']

- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.3.1
  hooks:
    # - id: nbqa-isort
    #   args: ['--line-length=120']

    - id: nbqa-black
      args: ['--line-length=120']
    # - id: nbqa-flake8
    #   args: [--max-line-length=120]
    # args: [--nbqa-mutate]

- repo: https://github.com/asottile/pyupgrade
  rev: v2.31.0
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

- repo: local

  hooks:
  - id: isort
    args: ['--line-length=120', '--profile', 'black']
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    args: ['--line-length=120']
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    args: ['--max-line-length=120']
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]
    exclude: setup.py

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace # notebooks/test_exp*

doc: Remove typos
  README.md
  potential_dishes.py
Due: isort, black, flake8

doc: Add docstrings & remove typos
  .pre-commit-config.yaml
  helper_ml.py
  potential_dishes.ipynb
  potential_dishes.py
  potential_dishes_all_code.ipynb
Due: isort, black, flake8, jupyter-nb-clear-output

setup: Add complete system info
  helper_ml.py
  requirements.txt
Due: isort, black, flake8

setup: Remove CUDA info
  potential_dishes.py
Due: isort, black, flake8

doc: Show performance info
  README.md
Due: none

doc: Remove old test info
  README.md
Due: none

doc: Add license
  LICENSE
Due: none

setup: Normalize pre-commit
  .pre-commit-config.yaml
  requirements.txt
Due: none

setup: remove black (in pre-commit)
  requirements.txt
Due: none

doc: Update dev dates
  .pre-commit-config.yaml
  helper_ml.py
Due: isort, black, flake8

fix: Use tensorflow 2.10 to avoid fit issues
  potential_dishes.py
  requirements.txt
Due: isort, black, flake8

setup: Upgrade to tf 2.11
  potential_dishes.py
  requirements.txt
Due: isort, black, flake8

clean: Apply qa
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  README.md
  helper_ml.py
  potential_dishes.ipynb
  potential_dishes.py
  potential_dishes_all_code.ipynb
  requirements.txt
Due: isort, black, flake8, jupyter-nb-clear-output

fix: Update Pillow (security)
  requirements.txt
Due: none
